@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: 3px solid #888;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  margin: 2.5em auto;
}

#weather-app{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  background-color: #6dbfbf;
}

.title-container {
  flex-grow: 1;
  text-align: center;
  color: #000;
  min-height: unset;
  padding: 2em;
}

.title-container__title {
  font-size: 3.5em;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

.data-container {
  flex-grow: 2;
  background-color: #262626;
  padding: 2em;
}

input[type="text"] {
  background-color: transparent;
  color: #fff;
  width: 100%;
  font-size: 1.5em;
  font-weight: lighter;
  border: 0;
  border-bottom: solid 1px #6dbfbf;
  padding-bottom: 0.5em;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

input[type="text"] { 
    outline: none;
    caret-color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 2em #262626 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  cursor: pointer;
  font-size: 1.25em;
  float: right;
  padding: 0.75em 1.25em;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  background: #468ccf;
  background: linear-gradient(to top,#5fa6a6,#7fc7c7);
  background: -moz-linear-gradient(to top,#5fa6a6,#7fc7c7);
  text-decoration: none;
  transition: all .15s ease;
}

button:hover, button:focus {
    color: #fff;
    border-color: #fff;
    background: #63b8ee;
    background: linear-gradient(to top,#7fc7c7,#5fa6a6);
    background: -moz-linear-gradient(to top,#7fc7c7,#5fa6a6);
    text-decoration: underline;
}

button:active {
  outline: none;
}

.weather{
    margin-top: 3em;
}

.weather__info {
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0;
}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 1em 0 1em 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0;
}